{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
      <title>Wenfo</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="{% static 'css/wenfo_style.css' %}">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
      <style type="text/css">
      </style>
   </head>
   <body class="signup_body">
      <div class="signup-form signin-form">
         {% csrf_token %}
         <form action="{% url 'signin' %}" method="post">
            {% csrf_token %}
         
            <h2 class="form_heading">Wenfo</h2>
            
            <div class="form-group">
               <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user"></i></span>
                  <input type="text" class="form-control" name="username" placeholder="Username" required="required">
               </div>
            </div>
            

            <div class="form-group">
               <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                  <input type="password" class="form-control" name="password" placeholder="Password" required="required">
               </div>
            </div>
            
            <span style="color: red">{{ message }}</span>
            
            <div class="form-group">
               <label class="checkbox-inline"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
            </div>
            <div class="form-group">
               <button type="submit" class="btn btn-primary btn-lg signin_btn">Sign in</button>
            </div>
         </form>
                  <div class="text-center">Not already have an account? <a href="{% url 'signup' %}">Register here</a></div>

      </div>
   </body>
</html>